<div class="category-view">
  <mat-card>
    <mat-card-header>Choose a Battle Category</mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Battle Category</mat-label>
        <mat-select [formControl]="selectedCategory">
          <mat-option *ngFor="let category of categories" [value]="category">
            {{ category }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button
        mat-raised-button
        matTooltip="May the Force be with you!"
        matTooltipPosition="below"
        (click)="onSubmit()"
        [disabled]="selectedCategory.invalid"
      >
        Submit
      </button>
    </mat-card-content>
  </mat-card>
</div>
